{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        clojure-opennlp/clojure-opennlp {:mvn/version "0.5.0"}
        com.kennycason/kumo-core {:mvn/version "RELEASE"}
        com.hypirion/clj-xchart {:mvn/version "RELEASE"}}}
